<div class="b">
  <nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color: antiquewhite ;">

  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-family:Georgia, 'Times New Roman', Times, serif ;"><h1> PURPLE </h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
        <li class="nav-item">
          <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="makeup">MAKEUP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup">SIGNUP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">CONTACT</a>
        </li>
        
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             PRODUCTS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="makeup">MAKEUP</a></li>
            
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link disabled"></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>

</nav>
</div>